<div class="card">
    <div class="header">
        <h4 class="title">Likes por artículo</h4>
        <p class="category">Históricamente</p>
      </div>
    <div class="content">
        <!-- <div class="container" id="container"> -->
            <svg width="400" height="600" id="svg">
                <g transform="translate(100, 100)">
                </g>
            </svg>
        <!-- </div> -->
    </div>
    <div class="footer">
        <div class="legend">
          <span>
          </span>
        </div>
    </div>
</div>