<div class="card">
    <div class="header">
        <h4 class="title">Likes por artículo</h4>
        <p class="category">Históricamente</p>
      </div>
    <div class="content">
        <!-- <div class="container" id="container"> -->
            <svg width="100%" height="400" id="svg">
                <g transform="translate(100, 100)">
                </g>
            </svg>
        <!-- </div> -->
    </div>
    <div class="footer">
        <div class="legend">
          <span>
          </span>
        </div>
    </div>
</div>
&nbsp;
<div class="card">
    <div class="header">
        <h4 class="title">Likes por precio</h4>
        <p class="category">Históricamente</p>
      </div>
    <div class="content">
        <!-- <div class="container" id="container"> -->
            <svg width="100%" height="400" id="svg2">
                <g transform="translate(100, 100)">
                </g>
            </svg>
        <!-- </div> -->
    </div>
    <div class="footer">
        <div class="legend">
          <span>
          </span>
        </div>
    </div>
</div>
&nbsp;
<div class="card">
    <div class="header">
        <h4 class="title"> Likes por autor</h4>
        <p class="category">Históricamente</p>
      </div>
    <div class="content">
        <!-- <div class="container" id="container"> -->
            <svg width="100%" height="400" id="svg3">
                <g transform="translate(100, 100)">
                </g>
            </svg>
        <!-- </div> -->
    </div>
    <div class="footer">
        <div class="legend">
          <span>
          </span>
        </div>
    </div>
</div>