<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Noticias
	</h2>
</section>

<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
  <div class="container">
    <div class="row p-b-148">
      <div class="col-md-7 col-lg-8">
          <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
              <h3 class="mtext-111 cl2 p-b-16">
                  Ofertas por Año Nuevo
              </h3>

              <p class="stext-113 cl6 p-b-26">
                  2X1 en toda nuestra mercadería
              </p>

							<div class="bor16 p-l-29 p-b-9 m-t-22">
                  <p class="stext-114 cl6 p-r-40 p-b-11">
                      APLICA DESDE EL 27 DE DICIEMBRE AL 2 DE ENERO
                  </p>
              </div>
          </div>
      </div>

      <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor2">
						<div class="hov-img0">
								<img src="assets/descuento1.jpeg" alt="IMG">
						</div>
				</div>
      </div>
  	</div>

  	<div class="row">
      <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
          <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
              <h3 class="mtext-111 cl2 p-b-16">
                  Ofertas por Navidad
              </h3>

              <p class="stext-113 cl6 p-b-26">
                  Tenemos desde el 20% hasta el 80% en todas nuestras mercaderias.
              </p>

              <div class="bor16 p-l-29 p-b-9 m-t-22">
                  <p class="stext-114 cl6 p-r-40 p-b-11">
                      APLICA DESDE EL 20 HASTA EL 26 DE DICIEMBRE
                  </p>
              </div>
          </div>
      </div>

      <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="assets/descuento2.jpeg" alt="Imagen de descuento">
					</div>
				</div>
      </div>
    </div>

		<div class="row p-b-148 p-t-148">
      <div class="col-md-7 col-lg-8">
          <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
              <h3 class="mtext-111 cl2 p-b-16">
                  Ofertas por Black Friday
              </h3>

              <p class="stext-113 cl6 p-b-26">
                  Global impressions inició como un empredimiento en el que su fundador quiso incursionar
                  en un campo donde no mcuhas personas habian queriado iniciar.
                  Nos establecimos en la ciudad de Guayaquil - Ecuador, y tras varios años de esfuerzo e innovación
                  estamos consolidadas como una de las empresas ecuatorianas lideres en bordados y estampados.
              </p>

							<div class="bor16 p-l-29 p-b-9 m-t-22">
                  <p class="stext-114 cl6 p-r-40 p-b-11">
                      APLICA DESDE EL 29 NOVIEMBRE HASTA EL 01 DE DICIEMBRE
                  </p>
              </div>
          </div>
      </div>

      <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="assets/descuento3.jpeg" alt="Imagen de descuento">
					</div>
				</div>
      </div>
  	</div>

  	<div class="row">
      <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
          <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
              <h3 class="mtext-111 cl2 p-b-16">
                  Ofertas por Aniversario
              </h3>

              <p class="stext-113 cl6 p-b-26">
                  Ven y disfruta cono nosotros nuestro aniversario. <br>
									No puedes perderte estos precios de LOCURA!
              </p>

              <div class="bor16 p-l-29 p-b-9 m-t-22">
                  <p class="stext-114 cl6 p-r-40 p-b-11">
                      APLICA TODO EL MES DE SEPTIEMBRE
                  </p>
              </div>
          </div>
      </div>

      <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
          <div class="how-bor2">
              <div class="hov-img0">
                  <img src="assets/descuento4.jpeg" alt="Imagen de descuento">
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
