<div class="main-content" >
    <div class="container-fluid">
        <div class="card">
            <div class="header">
                <h4 class="title">Mensajeria</h4>
                <p class="category">Mensajes de contacto</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Contesta tus mensajes</h5>
                        <!-- Vertical Steppers -->
<div class="row mt-1">
        <div class="col-md-12">
      
          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-vertical">
      
            <!-- First Step -->
            <li class="completed">
              <a href="#!">
                <span class="circle">1</span>
                <span class="label">Revisa todos los mensajes</span>
              </a>
              <div class="step-content alert alert-info" data-notify="container">
                    <button type="button" aria-hidden="true" class="close">×</button>
                    <span data-notify="icon" class="pe-7s-bell"></span>
                    <span data-notify="message">Mensaje de negocio1.</span>
                </div>
                <div class="step-content alert alert-info" data-notify="container">
                    <button type="button" aria-hidden="true" class="close">×</button>
                    <span data-notify="icon" class="pe-7s-bell"></span>
                    <span data-notify="message">Mensaje de negocio2.</span>
                </div>
            </li>
      
            <!-- Second Step -->
            <li class="active">
                    <a href="#!">
                      <span class="circle">2</span>
                      <span class="label">Responda a los mensajes</span>
                    </a>
            </li>
      
            <!-- Third Step -->
            
            <li class="warning">
              <a href="#!">
                <span class="circle"><i class="fas fa-exclamation"></i></span>
                <span class="label">Verifique sus credenciales</span>
              </a>
              <div class="step-content">
                    <div class="md-form ml-auto">
                        <input id="email-parallel" name="email" type="email" class="form-control validate" required>
                        <label for="email-parallel">E-mail</label>
                    </div>
                    <div class="md-form ml-auto">
                            <input id="email-parallel" name="email" type="email" class="form-control validate" required>
                            <label for="email-parallel">Contraseña</label>
                    </div>
                    <div class="step-actions">
                            <button class="text-dark bg-light waves-effect waves-dark btn btn-sm btn-primary next-step" data-feedback="validationFunction">CONTINUAR</button>
                            <button class="text-dark bg-white waves-effect waves-dark btn btn-sm btn-secondary previous-step">ATRÁS</button>
                    </div>
              </div>
            </li>
      
            <!-- Fourth Step -->
            <li>
              <a href="#!">
                <span class="circle">4</span>
                <span class="label">Envié los mensajes</span>
              </a>
              <div class="row mt-1">
                    <div class="col-md-12 text-right">
                      <button class="text-dark btn btn-flat btn-sm">CANCELAR</button>
                      <button class="text-dark btn btn-primary btn-sm">CONTINUAR</button>
                    </div>
                </div>
            </li>
      
          </ul>
          <!-- /.Stepers Wrapper -->
      
        </div>
      </div>
      <!-- /.Vertical Steppers -->
                    </div>
                    <div class="col-md-6">
                        <h5>Estado del mensaje</h5>
                        <div class="alert alert-info">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Recientes - </b> Un par de horas</span>
                        </div>
                        <div class="alert alert-success">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Corto Plazo - </b> Menos de 10 horas</span>
                        </div>
                        <div class="alert alert-warning">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Mediano plazo- </b> Más de un día</span>
                        </div>
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Viejos - </b> Más de 5 día</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
