<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Sobre Nosotros
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nuestra Historia
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Global impressions inició como un empredimiento en el que su fundador quiso incursionar
                        en un campo donde no mcuhas personas habian queriado iniciar.
                        Nos establecimos en la ciudad de Guayaquil - Ecuador, y tras varios años de esfuerzo e innovación
                        estamos consolidadas como una de las empresas ecuatorianas lideres en bordados y estampados.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Nos encontramos ubicados en:<br>
                        C.C. Malecon 2000 galeria D18.<br>
                        Para ventas al por mayor:<br>
                        Cdla. Alborada 12ava etapa frente al C.C. City Mall o llamanos al (+593) 99 996 3300.
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="assets/icons/Direcciones.png" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nuestra Misión
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Ofrecer a la comunidad Ecuatoriana estampados de última generación además de brindar personalización en vinyl textil, xpress print, sublimación, entre otras.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Si solo trabajas por dinero, nunca lo conseguirás, pero si amas lo que haces y siempre pones primero al cliente, el éxito será tuyo.
                        </p>

                        <span class="stext-111 cl8">
                            - Ray Kroc.
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="assets/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>