/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

#iniciarSesion{
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #333;
}

#iniciarSesion:hover{
  color: #6c7ae0;
}
