<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('assets/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		Equipo de Desarrollo
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-100">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16 p-t-16">
						Allison Eloisa Espinoza Bermeo
					</h3>

					<p class="stext-113 cl6 p-b-26 p-t-30">
						Soy estudiante de la Escuela Superior Politécnica del Litoral (ESPOL),
						estudio la carrera Ing. en Computación, me considero una persona responsable, amable
						y respetuosa <br/><br>
						Me gusta viajar, pasear y salir con mi amigos  <br><br>
						Idioma(s): Español - Inglés <br>
            Correo: alleespi@espol.edu.ec <br>
            Celular: 939542705
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0">
						<img src="assets/desarrolladores/Allison.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row p-b-100">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16 p-t-16">
						Leonardo Enrique Mendoza Kuffo
					</h3>

					<p class="stext-113 cl6 p-b-26 p-t-30">
						Soy estudiante de la Escuela Superior Politécnica del Litoral (ESPOL),
						estudio la carrera Ing. en Computación, me considero una persona proactiva, resolutiva y empática que promueve y practica filantropía.<br/><br>
						Me gusta viajar y pasar tiempo de calidad con mis seres queridos.<br><br>
						Idioma(s): Español - Inglés <br>
            Correo: leoenmen@espol.edu.ec <br>
            Celular: +593 984813790
					</p>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="assets/desarrolladores/Leonardo.jpg" alt="Leonardo Mendoza">
					</div>
				</div>
			</div>
		</div>

		<div class="row p-b-100">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16 p-t-16">
						Pabelco Gabriel Zambrano Vélez
					</h3>

					<p class="stext-113 cl6 p-b-26 p-t-30">
						Soy estudiante de la Escuela Superior Politécnica del Litoral (ESPOL),
						estudio la carrera Ing. en Computación, me considero una persona común y corrient, que cree en el proyecto de vida del prójimo, es decir, abrazo la libertad. <br/><br>
            Me gusta pensar, aunque realmente aún no encuentro algo que me de total satisfacción. <br><br>
						Idioma(s): Español-Inglés <br>
            Correo: pagazamb@espol.edu.ec <br>
            Celular: +593 986577122
					</p>
				</div>
			</div>

			<div class="col-11 col-md-5 col-lg-4 m-lr-auto">
				<div class="how-bor1 ">
					<div class="hov-img0 imgpabelco">
						<img class="pabelco"  src="assets/desarrolladores/Pabelco.jpeg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h3 class="mtext-111 cl2 p-b-16 p-t-16">
						Pablo Andrés Delgado Campoverde
					</h3>

					<p class="stext-113 cl6 p-b-26 p-t-30">
						Soy estudiante de la Escuela Superior Politécnica del Litoral (ESPOL),
						estudio la carrera Ing. en Computación, me considero una persona
						algo sociable, alegre, responsable, puntual, con grandes
						metas para el futuro. <br/><br/>
						Me gusta conocer gente nueva, hacer deporte, ir al gimnasio, escuchar música, escuchar a los demás,
						investigar, entre otras cosas más. <br><br/>
						Idioma(s): Español - Inglés <br>
            Correo: pabandel@espol.edu.ec <br>
            Celular: +593 981786505
					</p>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img class="pablo" src="assets/desarrolladores/Pablo.JPG" alt="Pablo Andrés Delgado Campoverde">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
